.analyse .eval-gauge {
  grid-area: gauge;
  display: block;
}
.eval-gauge {
  width: var(--gauge-gap);
  position: relative;
  background: #f5f5f5;
  overflow: hidden;
  height: 25px;
}
.eval-gauge .cp {
  position: absolute;
  line-height: 25px;
  z-index: 1;
}
.eval-gauge .cp.black {
  color: white;
  left: 2px;
}
.eval-gauge .cp.white {
  color: black;
  right: 2px;
}
.eval-gauge div.black {
  width: 50%;
  height: 100%;
  background: #888;
  transition: height 1s;
}
.suggest {
  word-break: break-word;
}
span.svg {
  display: none;
}
a.suggest-span {
  cursor: crosshair;
  position: relative;
  z-index: 9999;
}
a.suggest-span:hover {
  background-color: yellow;
}

a:hover span.svg {
  cursor: crosshair;
  display: inline;
  position: absolute;
  top: 20px;
  left: -80px;
}
.feedback-container {
  background-color: rgb(241, 241, 241);
  border-bottom-color: rgb(241, 241, 241);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  box-sizing: border-box;
  color: rgb(49, 46, 43);
  margin-left: 20px;
}
.body {
  display: flex;
  justify-content: center;
}
body {
  background-color: #312e2b;
  color: #f5f5f5;
}
.feedback {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  padding: 0 15px;
  overflow: visible;
}
.feedback-line {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-between;
}
.lastmove {
  align-items: flex-start;
  display: flex;
  flex: 1 0 100%;
  font-size: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 10px 0;
}
.suggest {
  position: relative;
  width: 80%;
  border-top: 0.1rem solid #e8e7e6;
  border-bottom: 0.1rem solid #e8e7e6;
  font-size: 14px;
  padding: 10px 0;
  position: relative;
  text-indent: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.buttons {
  display: flex;
  justify-content: center;
}
.moves {
  overflow-y: scroll;
  margin-bottom: 10px;
  background-color: #fefefe;
  box-sizing: border-box;
}
.moves .move a {
  box-sizing: border-box;
  color: rgb(102, 100, 99);
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 7px;
  outline-color: rgb(102, 100, 99);
  outline-style: none;
  outline-width: 0px;
}

.moveNumber {
  box-sizing: border-box;
  color: rgb(38, 33, 27);
  cursor: pointer;
  display: inline;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  outline-color: rgb(38, 33, 27);
  outline-style: none;
  outline-width: 0px;
  position: relative;
  z-index: 2;
}

.edit {
  display: none;
}
.comment {
  display: none;
}
.game-button-container {
  display: flex;
  justify-content: center;
}
.game-button {
  margin: 0 10px;
  cursor: pointer;
  color: #3c4043;
  max-width: 124px;
  border: 1px solid #dadce0;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font: 500 14px/36px Google Sans, Noto Sans, Noto Sans JP, Noto Sans KR,
    Noto Naskh Arabic, Noto Sans Thai, Noto Sans Hebrew, Noto Sans Bengali,
    sans-serif;
  line-height: 34px;
}
.pgntext-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
textarea#pgntext {
  width: 80%;
  height: 150px;
  margin-bottom: 15px;
}